# Dependency directories
node_modules/

# Built files
build/
dist/

# Environment variables
.env*

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Log files
*.log

# Cache and backup files
*.cache/
*.bak/
*.backup/

# Compiled binary files
*.dll
*.exe
*.o
*.so

# Mac-specific files
.DS_Store
